body,
html {
    height: 100vh;
    background: #fafafa;
}

.grid-container {
    height: 100vh;
    background-color: #fafafa;
    margin: 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 15% 23% 23% 23%;
    grid-template-rows: 10% 15% auto;
    grid-template-areas:
        "sidebar header header header"
        "sidebar head1 head2 head3"
        "sidebar main main main"
        "sidebar main main main";
}

/* * Start Sidebar*/

.sidebar-container {
    font-size: 1rem;
    grid-area: sidebar;
    background-color: #fadf7f;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-top: 70px;
    color: #272727;
    top: 0;
    left: 0;
    height: 100vh;
    cursor: pointer;
}

.sidebar {
    width: 100%;
    padding-left: 15px;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
}

.sidebar :hover {
    color: #767676;
    transition: 0.6s ease;
}

h1 {
    text-transform: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin-left: 7px;
    padding-bottom: 40px;
}

/* * End  Sidebars */

/* * Start Heads Up Display */

.head1 {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: head1;
    background: #272727;
    color: #fadf7f;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 70px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 70px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.head2 {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: head1;
    background: #272727;
    color: #fadf7f;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 70px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 70px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.head3 {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: head1;
    background: #272727;
    color: #fadf7f;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 70px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 70px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.head2 {
    grid-area: head2;
}

.head3 {
    grid-area: head3;
}

/* * End Heads Up Display */

/* * Start Settings */

.settings-container {
    grid-area: header;
    margin-top: 30px;
    background-color: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.settings > h4 {
    display: flex;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

/* * End settings */

/* * Start Display Panel */

.display-panel {
    grid-area: main;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.new-app-btn {
    font-family: "Poppins", sans-serif;
    background: #272727;
    color: #fafafa;
    border: none;
    padding: 5px 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.new-app-btn:hover {
    background: #fadf7f;
    color: #272727;
}

/* * End Display Panel */

/* **Start Job modal** */

.job-modal {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.job-modal > label {
    color: black;
}

.job-modal-btn {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    background: #272727;
    color: #fafafa;
    border: none;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.job-modal-btn:hover {
    background: #fadf7f;
    color: #272727;
}

/* **End Job Modal** */

/* * Start Interview questions */

.interview-sub {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .interview-questions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

/* * End Interview questions */

/* * Start Data confirm */

.data-confirm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
/* * End Data confirm */

/** Modal  */

/* ** Media Queries */

/** Aloha 🤙🏼 **/
