body {
    height: 100vh;
    background: #fafafa;
}

.grid-container {
    height: 100vh;
    background-color: #fafafa;
    margin: 0;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 20% 23% 23% 23%;
    grid-template-rows: 10% 15% auto;
    grid-template-areas:
        "sidebar header header header"
        "sidebar head1 head2 head3"
        "sidebar main main main"
        "sidebar main main main";
}

/* * Start Settings * */

.settings-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    min-height: 30px;
    margin-top: 30px;
    background-color: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.settings-bar {
    width: 100%;
}

.settings {
    width: 100%;
    display: flex;
    margin-left: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.gear-settings {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    background: #fadf7f;
    color: #272727;
    padding: 5px;
    border-radius: 5px;
    max-width: 48px;
    height: 48px;
    transition: 0.4s all ease-in-out;
    width: 100%;
}

.gear-settings:hover {
    color: #fadf7f;
    background: #272727;
}

.gear-text {
    width: 100%;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
}

.settings-modal {
    display: flex;
    flex-direction: column;
}

.follow-up-modal .ty-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iq-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.week-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* * End settings * */

/* * Modal * */

.modal-form > label {
    color: black;
}

.modal-form {
    margin-top: 30px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
    background: #272727;
    color: #fafafa;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.modal-btn:hover {
    background: #fadf7f;
    color: #272727;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-items {
    color: rgb(237, 38, 71);
}

.icons {
    font-size: 1.2rem;
}
/* * End Job Modal * */

/* * Start Data confirm % Download Btn* */

.data-confirm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.download-btn {
    font-family: "Poppins", sans-serif;
    background: #fadf7f;
    color: #272727;
    border: none;
    padding: 10px 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    margin: 30px 0 0 50px;
    font-weight: 400;
    font-size: 0.7rem;
    font-weight: 600;
}

.download-btn:hover {
    background: #272727;
    color: #fadf7f;
}

/* * End Data confirm * */

/* * Media Queries * */

@media (max-width: 1640px) {
    .settings {
        font-size: 1rem;
    }
}

/* @media (max-width: 800px) {
    .grid-container {
        display: grid;
        gap: 1.8rem;
        grid-template-columns: 15% auto;
        grid-template-rows: 10% auto;
        grid-template-areas:
            "header"
            "sidebar"
            "head1"
            "head2"
            "head3"
            "main";
    }
} */

@media (max-width: 1024px) {
    .grid-container {
        display: grid;
        gap: 1.8rem;
        grid-template-columns: auto;
        grid-template-rows: 10% 30% 50% 10% 10%;
        grid-template-areas:
            "sidebar" "header"
            "sidebar" "head1"
            "sidebar" "head2"
            "sidebar" "head3"
            "sidebar" "main";
    }
}

@media (max-width: 414px) {
    .gear-settings {
        background: none;
    }
}

/* * Aloha 🤙🏼 * */
