body {
    height: 100vh;
    background: #fafafa;
}

.grid-container {
    height: 100vh;
    background-color: #fafafa;
    margin: 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 15% 23% 23% 23%;
    grid-template-rows: 10% 15% auto;
    grid-template-areas:
        "sidebar header header header"
        "sidebar head1 head2 head3"
        "sidebar main main main"
        "sidebar main main main";
}

/* * Start Settings */

.settings-container {
    grid-area: header;
    margin-top: 30px;
    background-color: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.settings > h4 {
    display: flex;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

/* * End settings */

/* **Start Job modal** */

.modal-form > label {
    color: black;
}

.modal-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-btn {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    background: #272727;
    color: #fafafa;
    border: none;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.modal-btn:hover {
    background: #fadf7f;
    color: #272727;
}

/* **End Job Modal** */

/* * Start Interview questions */

/* * End Interview questions */

/* * Start Data confirm */

.data-confirm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
/* * End Data confirm */

/** Contacts  */

contacts {
    background-color: blue;
}

/* **End of Contacts** */

/* ** Media Queries */

/** Aloha 🤙🏼 **/
