/* * Start Display Panel */

.display-panel {
    grid-area: main;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.new-app-btn {
    font-family: "Poppins", sans-serif;
    background: #272727;
    color: #fafafa;
    border: none;
    padding: 10px 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    margin: 30px 0 0 50px;
}

.new-app-btn:hover {
    background: #fadf7f;
    color: #272727;
}

/* * End Display Panel */

.job-output {
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin: 50px;
    background: #eee;
    border-radius: 3px;
    font-weight: 600;
}
li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom:1px dotted black;
}

.IQ-li{
    list-style: none;
    align-items: center;
    border-bottom:1px dotted black;
    text-align: left;
    display: block;
}

.jobs-ul {
    display: grid;
    grid-template-columns: repeat(4, 10em)
}

.doc-ul {
    display: flex;
    align-items: center;
    margin: 0.5em;
}
.doc-ul>li{
    margin-right: 1em;
}

.contacts-ul {
    display: grid;
    grid-template-columns: repeat(4, 13em)

}

.page-title {
    text-transform: uppercase;
    padding: 30px;
    text-align: center;
    letter-spacing: 0.3rem;
}

/* Media Query */

@media (max-width: 768px) {
}
