/* * Start Heads Up Display */

.head1 {
    grid-area: head1;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #272727;
    color: #fadf7f;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 70px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 70px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

span {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    color: #fff;
    margin-bottom: 3px;
}

.day {
    font-weight: 800;
}

.quote {
    color: #fff;
}

.count-in-head {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    line-height: 45px;
    background: #fadf7f;
    color: #272727;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head2 {
    grid-area: head2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #272727;
    color: #fadf7f;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 70px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 70px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.head3 {
    grid-area: head3;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #272727;
    color: #fadf7f;
    padding: 20px;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 70px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 70px;
    border-radius: 10px;
    border-top-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* * End Heads Up Display */

/* Media Query */

/* @media (max-width: 1024px) {


    span {
        font-weight: 400;
        margin: 0;
        color: #fff;
        margin-bottom: 3px;
    }
}

@media (max-width: 414px) {
    .count-in-head {
        font-size: 0.8rem;
        font-weight: 400;
        background: #fadf7f;
        color: #272727;
        padding: 5px;
        border-radius: 5px;
        width: 32px;
        height: 32px;
    }
} */
