.hero-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #fafafa;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: #fafafa;
}

.title > h1 {
    font-size: 2.5rem;
}

h4 {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 15px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #fafafa;
    height: 100vh;
}

.hero-signup-btn {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    background: #272727;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #fafafa;
    grid-area: overlap;
    border-radius: 3px;
    margin-top: 50px;
    transition: 0.4s all ease-in-out;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.hero-signup-btn:hover {
    color: rgb(0, 0, 0);
    background: #f9df83;
}

/* Media Query */

@media only screen and (max-width: 640px) {
    .hero-container {
        flex-direction: column;
    }

    .title {
        width: 50%;
    }

    .hero-image {
        width: 50%;
    }

    .title > h1 {
        padding-top: 30px;
    }
}
