.hero-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #fafafa;
}

.title > h1 {
    font-size: 2.5rem;
}

h4 {
    font-family: "Poppins", sans-serif;
    grid-column: 1 / 4;
}

.folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #272727;
}

.hero-signup-btn {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    background: #fadf7f;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    color: black;
    grid-area: overlap;
    border-radius: 3px;
    transition: 0.4s all ease-in-out;
}

.hero-signup-btn:hover {
    color: grey;
    background: #f9df83;
}
