* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
/* Hero Page */

.hero-container {
    background: #fafafa;
}

.title {
    background: #fafafa;
    height: 50vh;
    padding: 100px;
}

h1 {
    text-align: center;
    padding: 100 0 0 0px;
}

.paper-one {
    width: 95vw;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(1, 0, 0, 1), 0 10px 0 -5px #eee;
}

.folder {
    background: #272727;
    height: 50vh;
    padding: 100px;
    border-top-right-radius: 319px;
    -webkit-border-top-right-radius: 5000px;
    -moz-border-radius-topright: 319px;
}

.signup-btn {
    background: #fadf7f;
    padding: 7px 15px;
    color: #272727;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* End of Hero Page */
