/* * Start Sidebar*/

.sidebar-container {
    grid-area: sidebar;
    font-size: 0.8rem;
    height: 100vh;
    transition: 0.5s ease;
    background-color: #fadf7f;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-top: 70px;
    color: #272727;
    height: 100vh;
    cursor: pointer;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sidebar {
    width: 100%;
    padding-left: 15px;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar :hover {
    color: #ffffff;
    transition: 0.6s ease;
}

.sidebar-container input:checked ~ .burger {
    background: transparent;
}

.sidebar-container input:checked ~ .burger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.sidebar-container input:checked ~ .burger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.sidebar-title {
    font-size: 2rem;
}

.burger {
    position: relative;
    width: 30px;
    height: 4px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #000;
    border-radius: 10px;
    transition: 0.3s;
}

.burger::before {
    top: -10px;
    width: 20px;
}

.burger::after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    cursor: pointer;
    opacity: 0;
}

.burger,
.toggle-menu {
    /* display: none; */
}

.nav-items {
    color: violet;
}

h1 {
    text-transform: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin-left: 7px;
    padding-bottom: 40px;
}

/* * End  Sidebars */

/* Media Query */

@media (max-width: 800px) {
    .sidebar-container {
        height: 200px;
        -webkit-border-top-right-radius: 1px;
        -webkit-border-bottom-right-radius: 1px;
        -moz-border-radius-topright: 1px;
        -moz-border-radius-bottomright: 1px;
    }
}

@media (max-width: 960px) {
    .sidebar {
        display: flex;
    }

    .sidebar-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
