/* * Start Sidebar*/

.sidebar-container {
    grid-area: sidebar;
    font-size: 0.8rem;
    height: 100vh;
    transition: 0.5s ease;
    background-color: #fadf7f;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-top: 70px;
    color: #272727;
    /* top: 0;
    left: 0; */
    height: 100vh;
    cursor: pointer;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sidebar {
    /* display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    padding-left: 15px;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar :hover {
    color: #ffffff;
    transition: 0.6s ease;
    width: 100%;
}

.sidebar-title {
    font-size: 2rem;
}

h1 {
    text-transform: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin-left: 7px;
    padding-bottom: 40px;
}

/* * End  Sidebars */

/* Media Query */

@media (max-width: 960px) {
    .sidebar-container {
        height: auto;
    }
}
