* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signin-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.success {
    border: none;
}
.error {
    border: 2px solid red;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #fafafa;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #272727;
}

label {
    line-height: 30px;
    text-align: left;
    color: #fff;
    font-size: 1.5rem;
}

input {
    line-height: 30px;
    height: 30px;
    width: 60%;
}

.signin-btn {
    margin-top: 20px;
    background: #fadf7f;
    border: none;
    padding: 3px 15px 3px 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.signin-btn:hover {
    color: grey;
    background: #f9df83;
}

p {
    margin-top: 30px;
    color: #fafafa;
    font-size: 0.8rem;
}

.forgot-link {
    text-align: right;
    grid-column: 2 / 3;
    text-decoration: none;
    color: rgb(170, 170, 170);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-top: 10px;
    transition: 0.4s all ease-in-out;
}

.forgot-link:hover {
    color: #f9df83;
}

.signup-btn {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    padding: 3px 15px 3px 15px;
    text-decoration: none;
    color: #fadf7f;
    background: #272727;
    border: none;
    grid-area: overlap;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.4s all ease-in-out;
}

.signup-btn:hover {
    color: #fff;
}

/* Media Query */

@media only screen and (max-width: 640px) {
    .signin-container {
        flex-direction: column;
    }

    .title {
        width: 50vw;
    }

    .signin {
        width: 50vw;
    }

    .title > h1 {
        padding-top: 30px;
    }
}
