* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.signin-title {
    font-size: 3rem;
}
.success {
    border: none;
}
.error {
    border: 2px solid red;
}

.title {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 50%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 50px 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.signin label {
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-transform: uppercase;
}

input {
    line-height: 30px;
    height: 30px;
    width: 50%;
}

#password {
    border: none;
    background: #e0e0e090;
}

.signin-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 20%;
    margin-top: 30px;
    color: #fafafa;
    background: #272727;
    border: none;
    padding: 2px 20px 2px 20px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.7rem;
    transition: 0.4s all ease-in-out;
}

.signin-btn:hover {
    color: rgb(0, 0, 0);
    background: #fadf7f;
}

.forgot-link {
    text-align: right;
    text-decoration: none;
    color: rgb(113, 113, 113);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-top: 10px;
    font-style: italic;
    transition: 0.4s all ease-in-out;
}

.forgot-link:hover {
    color: #e1ba2d;
}

.first-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 1rem;
}

.signup-page-btn {
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #272727;
    background: #fadf7f;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.4s all ease-in-out;
    margin: 8px 0 0 20px;
    border-radius: 2px;
}

.signup-page-btn:hover {
    color: #fff;
}

/* Media Query */

@media (max-width: 600px) {
    .signin {
        height: 80%;
        width: 80%;
    }

    .signin-btn {
        width: 20px;
    }
}
