.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.signup-title {
    padding: 20px;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 60px 30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.signup-form > label {
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-transform: uppercase;
}

.signup-input {
    border: none;
    background: #e0e0e090;
}

#email {
    border: none;
    background: #e0e0e090;
}

.new-use-signup-btn {
    text-transform: uppercase;
    color: #fafafa;
    background: #272727;
    margin-top: 20px;
    border: none;
    padding: 2px 15px 2px 15px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    width: 100px;
    font-weight: 400;
}

.new-use-signup-btn:hover {
    color: grey;
    background: #f9df83;
}

select {
    display: flex;
}

.signform-label {
    line-height: 30px;
    color: #fff;
    font-size: 1rem;
}

signup-form > input {
    line-height: 30px;
    height: 30px;
    width: 60%;
}

.state-daily {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 30px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* ** Media Query **  */

@media (max-width: 600px) {
    .signup-form {
        height: 40%;
    }

    .signup-form > label {
        font-size: 0.7rem;
        height: 80%;
    }

    .new-use-signup-btn {
        padding: 2px;
    }

    .signup-title {
        font-size: 2rem;
    }
}
