.signup-container {
    background: #fafafa;
}

.signup {
    width: 80vw;
    background: #272727;
    color: #fafafa;
    height: 80vh;
    padding: 100px;
    border-top-right-radius: 319px;
    -webkit-border-top-right-radius: 5000px;
    -moz-border-radius-topright: 319px;
    z-index: 1;
}
